@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  font-style: normal;
  src: local('Raleway Thin'),
       local('Raleway-100'),
       url('../fonts/Raleway-100/Raleway-100.woff2') format('woff2'),
       url('../fonts/Raleway-100/Raleway-100.woff') format('woff'),
       url('../fonts/Raleway-100/Raleway-100.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  font-style: normal;
  src: local('Raleway ExtraLight'),
       local('Raleway-200'),
       url('../fonts/Raleway-200/Raleway-200.woff2') format('woff2'),
       url('../fonts/Raleway-200/Raleway-200.woff') format('woff'),
       url('../fonts/Raleway-200/Raleway-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: local('Raleway Light'),
       local('Raleway-300'),
       url('../fonts/Raleway-300/Raleway-300.woff2') format('woff2'),
       url('../fonts/Raleway-300/Raleway-300.woff') format('woff'),
       url('../fonts/Raleway-300/Raleway-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: local('Raleway'),
       local('Raleway-regular'),
       url('../fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('../fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('../fonts/Raleway-regular/Raleway-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  src: local('Raleway Medium'),
       local('Raleway-500'),
       url('../fonts/Raleway-500/Raleway-500.woff2') format('woff2'),
       url('../fonts/Raleway-500/Raleway-500.woff') format('woff'),
       url('../fonts/Raleway-500/Raleway-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: normal;
  src: local('Raleway SemiBold'),
       local('Raleway-600'),
       url('../fonts/Raleway-600/Raleway-600.woff2') format('woff2'),
       url('../fonts/Raleway-600/Raleway-600.woff') format('woff'),
       url('../fonts/Raleway-600/Raleway-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  src: local('Raleway Bold'),
       local('Raleway-700'),
       url('../fonts/Raleway-700/Raleway-700.woff2') format('woff2'),
       url('../fonts/Raleway-700/Raleway-700.woff') format('woff'),
       url('../fonts/Raleway-700/Raleway-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;
  src: local('Raleway ExtraBold'),
       local('Raleway-800'),
       url('../fonts/Raleway-800/Raleway-800.woff2') format('woff2'),
       url('../fonts/Raleway-800/Raleway-800.woff') format('woff'),
       url('../fonts/Raleway-800/Raleway-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: normal;
  src: local('Raleway Black'),
       local('Raleway-900'),
       url('../fonts/Raleway-900/Raleway-900.woff2') format('woff2'),
       url('../fonts/Raleway-900/Raleway-900.woff') format('woff'),
       url('../fonts/Raleway-900/Raleway-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 100;
  font-style: italic;
  src: local('Raleway Thin Italic'),
       local('Raleway-100italic'),
       url('../fonts/Raleway-100italic/Raleway-100italic.woff2') format('woff2'),
       url('../fonts/Raleway-100italic/Raleway-100italic.woff') format('woff'),
       url('../fonts/Raleway-100italic/Raleway-100italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 200;
  font-style: italic;
  src: local('Raleway ExtraLight Italic'),
       local('Raleway-200italic'),
       url('../fonts/Raleway-200italic/Raleway-200italic.woff2') format('woff2'),
       url('../fonts/Raleway-200italic/Raleway-200italic.woff') format('woff'),
       url('../fonts/Raleway-200italic/Raleway-200italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: italic;
  src: local('Raleway Light Italic'),
       local('Raleway-300italic'),
       url('../fonts/Raleway-300italic/Raleway-300italic.woff2') format('woff2'),
       url('../fonts/Raleway-300italic/Raleway-300italic.woff') format('woff'),
       url('../fonts/Raleway-300italic/Raleway-300italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: italic;
  src: local('Raleway Italic'),
       local('Raleway-italic'),
       url('../fonts/Raleway-italic/Raleway-italic.woff2') format('woff2'),
       url('../fonts/Raleway-italic/Raleway-italic.woff') format('woff'),
       url('../fonts/Raleway-italic/Raleway-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  font-style: italic;
  src: local('Raleway Medium Italic'),
       local('Raleway-500italic'),
       url('../fonts/Raleway-500italic/Raleway-500italic.woff2') format('woff2'),
       url('../fonts/Raleway-500italic/Raleway-500italic.woff') format('woff'),
       url('../fonts/Raleway-500italic/Raleway-500italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  font-style: italic;
  src: local('Raleway SemiBold Italic'),
       local('Raleway-600italic'),
       url('../fonts/Raleway-600italic/Raleway-600italic.woff2') format('woff2'),
       url('../fonts/Raleway-600italic/Raleway-600italic.woff') format('woff'),
       url('../fonts/Raleway-600italic/Raleway-600italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  font-style: italic;
  src: local('Raleway Bold Italic'),
       local('Raleway-700italic'),
       url('../fonts/Raleway-700italic/Raleway-700italic.woff2') format('woff2'),
       url('../fonts/Raleway-700italic/Raleway-700italic.woff') format('woff'),
       url('../fonts/Raleway-700italic/Raleway-700italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: italic;
  src: local('Raleway ExtraBold Italic'),
       local('Raleway-800italic'),
       url('../fonts/Raleway-800italic/Raleway-800italic.woff2') format('woff2'),
       url('../fonts/Raleway-800italic/Raleway-800italic.woff') format('woff'),
       url('../fonts/Raleway-800italic/Raleway-800italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 900;
  font-style: italic;
  src: local('Raleway Black Italic'),
       local('Raleway-900italic'),
       url('../fonts/Raleway-900italic/Raleway-900italic.woff2') format('woff2'),
       url('../fonts/Raleway-900italic/Raleway-900italic.woff') format('woff'),
       url('../fonts/Raleway-900italic/Raleway-900italic.ttf') format('truetype');
}

