<ion-header class="Header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class = "Title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
  <div>
    <img src="img/FdLLvbmQ0O86Oj1rQJJg_ForApp.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"> 
  </div>
  <h2>This Week:</h2>
    <h3> <strong>Monday</strong></h3>
    <p>6PM-8PM Quiz Night @ IB Hall</p>
    <h3> <strong>Tuesday</strong></h3>
    <p>1230 - 1150 Author Visit @ Library Forum</p>
    <h3> <strong>Wednesday</strong></h3>
    <h3> <strong>Thursday</strong></h3>
    <h3> <strong>Friday</strong></h3>
    <p>Y11 AYP Expedition @ Disneyland</p>
</ion-content>
 